header{
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  height: 80px;
}
.logo{
  margin:10px 0 0 20px;
}
.logo:hover{
  opacity: 0.6;
}
.logo_img{
  width: 90px;
  margin-top: 15px;
}
.header_menu{
  display: flex;
  list-style: none;
  align-items: center;
}
.header_menu li:hover{
  opacity: 0.6;
}
.header_menu li a{
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

/* ここまでheader */

main{
  line-height: 2.2;
}

/*タイトル*/

.ttl{
  background: url(../コーポレート画像/mv.png) no-repeat center/cover;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ttl_content{
  width: 20vw;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

table{
  margin: 40px 100px;
  line-height: 3;
  width: 80vw;
}
.tr_top{
  border-top:black solid 1px;
  border-bottom:black solid 1px;
}
.tr{
  border-bottom:black solid 1px;
}
th{
  font-weight: bold;
  padding-left: 70px;
}
td{
  padding-left: 70px;
}

/* お問合せ */

.contact{
  margin: 60px auto 0;
  text-align: center;
  background-color:whitesmoke;
  padding: 60px 200px 90px ;
}
.contact_ttl{
  font-size: 23px;
  font-weight: bold;
}
.contact_btn{
  padding: 10px 100px;
  background-color: red;
  color: white;
  display: inline-block;
  margin-top: 20px;
}
.contact_btn:hover{
  opacity: 0.6;
}
.contact_btn__content{
  text-decoration: none;
  color: white;
}

/* footer */

footer{
  background-color: black;
  color: white;
  font-size: small;
  display: flex;
  justify-content: space-between;
  padding: 25px 90px;

}
footer ul{
  list-style: none;
  margin-right: 50px;
  display: flex;
  justify-content: space-around;
}
footer li{
  padding-left: 12px;
}
footer li a{
  text-decoration: none;
  color: white;
}
footer li a:hover{
  opacity: 0.6;
}