table{
  margin: 40px 100px;
  line-height: 3;
}
.tr_top{
  border-top:black solid 1px;
  border-bottom:black solid 1px;
}
.tr{
  border-bottom:black solid 1px;
}
th{
  font-weight: bold;
  padding-left: 70px;
}
td{
  padding-left: 70px;
}